---
layout:
title: Senior Software Engineer (Services Team)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/style.css"/>

    <script src="//use.typekit.net/rmy4jvl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="alert alert-danger" role="alert">
        <p class="text-center"><strong>This is an example only. This is not a real job listing.</strong></p>
      </div>
      <header>
        <div class="row header__row">
          <div class="col-md-5">
            <img class="img-responsive" alt="Nordstromrack | HauteLook" src="/assets/logo_header.png" />
          </div>
          <div class="col-md-3 col-md-offset-4">
            <h2 class="text-right text-uppercase">Technology</h2>
          </div>
        </div>
      </header>

      <article>
        <header>
          <div class="row showcase dark">
            <div class="col-md-7">
              <h1 class="showcase__header">Senior Software Engineer<br><small>Services Team</small></h1>

              <h4 class="showcase__question">Have you ever had a bad experience buying something online and wanted to do something about it?</h4>
              <p>Come to HauteLook and enjoy the creative freedom to tackle that problem. HauteLook is a:</p> 
              <ul>
                <li>member-based</li>
                <li>specialty online retailer</li>
                <li>offering coveted brands</li>
                <li>at amazing prices</li>
                <li>through time-limited flash sales.</li>
              </ul>
              <p>As part of the Nordstrom family (in fact, we manage NordstromRack.com too!), we pride ourselves on delivering incredible customer service. As an online retailer, we try to do this as quickly and efficiently as possible.</p> 
              <p>Commerce is changing, driven by fierce competition between giants like Walmart and Amazon. Nordstrom is nothing to sniff at, but how do we keep such a venerable brand competitive in this new digital landscape? Join HauteLook, the scrappy little division that could, and help Nordstrom figure it out. We believe we can deliver both great products and great customer service at the same time through creative and novel applications of technology.</p>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <h1><a class="btn btn-default text-uppercase btn-lg cta" href="#" role="button">Apply Now</a></h1>

              <h4 class="check_us_out">Check us out:</h4>
              <p><a href="https://www.hautelook.com">HauteLook.com</a><p>
              <p><a href="https://www.nordstromrack.com">NordstromRack.com</a>

              <h4 class="check_us_out">HauteLook App:</h4>
              <p><a href="">iOS</a> | <a href="">Android</a><p>

              <h4 class="check_us_out">Nordstrom Rack App:</h4>
              <p><a href="">iOS</a> | Android coming soon<p>

              <h4 class="check_us_out">Questions?</h4>
              <p><a mailto="">herman.radtke@hautelook.com</a></p>

            </div>
          </div>
        </header>

        <div class="row content">
          <section>
            <div class="col-md-7">
              <h1>Services Team</h1>

              <p>The Services Team is responsible for managing our backend APIs and integrations with 3rd party systems. We’re the engine driving our online business. We work with every part of the company, including our Mobile and Web Clients, Internal Tools, Marketing, Merchandising, Platform, Production, Finance & Accounting, Member Care, Logistics, Supply Chain, and Fulfillment. We’re a small and growing team in the HauteLook family.</p>

              <h3>Some things we appreciate in team members:</h3>
              <ul>
                <li>Pragmatically chooses shipping code over perfect abstractions</li>
                <li>Quick-thinking, pleasant, empathetic and creative</li>
                <li>Develops documentation that other engineers love</li>
                <li>Creates modular, performant, easily understandable and testable code, and does it quickly</li>
                <li>Writes software that scales to millions of usesr and concurrent sessions</li>
                <li>Thoughtfully reviews other people's code and provide constructive feedback</li>
                <li>Wrangles git, test runners and dependency managers with one arm tied behind their back for automated & continuous delivery</li>
                <li>Expirements with new approaches, frameworks, design philosophies and languages</li>
                <li>Fails fast, learns, teaches and tries again</li>
                <li>Graceful about transferring responsibility for software components back and forth among teams by anticipating what colleagues may need</li>
              </ul>

              <h1>Software Engineers</h1>
              <h3>Our software engineers contemplate questions like...</h3>
              <ul>
                <li>How do we decouple and divide up our work so that teams can work independently and parallel?</li>
                <li>How do we track millions of items in various states of transit in real time?</li>
                <li>How do we deliver goods to members in a decentralized but efficient way?</li>
                <li>How do we provide excellent customer service without talking directly to members?</li>
                <li>How do we support multiple business models and marketing channels without tripping over ourselves?</li>
                <li>How do we make sure we are measuring the right things and delivering the greatest value to our members so that we feel good about our work?</li>
                <li>How do we do all of these things fast, reliably and robustly while ensuring scalability, performance and security?</li>
              </ul>

              <p>We are currently working on abstracting our e-commerce platform to add flexibility so that we can quickly try and test new features, business models, distribution channels, marketing programs and service delivery options. We want to make the shopping experience fun and effortless for our members, to meet them whenver and whereever they are. We want members to enjoy their time with us. Stop on by and chat with us if these problems sound interesting to you.</p>

              <h1>Our Stack</h1>
              <ul>
                <li>Alignment: Scrum, Jira, Slack, Github</li>
                <li>Web Client: JQuery, Ember, React, OOCSS, BEM</li>
                <li>Mobile Client: iOS (Obj-C), Android (Java)</li>
                <li>Server: PHP, Zend, Symfony 2, Doctrime ORM</li>
                <li>Testing: Behat, PHPUnit</li>
                <li>Automation: Python, Puppet, Git, Ruby, Jenkins, Travis CI, Capistrano, bash, Ansible</li>
                <li>Storage/Cache: MySQL, MongoDb, Solr, Couchbase</li>
                <li>Platform: CentOS, nginx, php-fpm, node</li>
                <li>Network: F5, Varnish, Akamai</li>
              </ul>

              <h3 class="change">What would you change and why?</h3>
            </div>
          </section>

          <aside>
            <div class="col-md-4 col-md-offset-1">
              <h1>The Good Stuff</h1>
              <ul>
                <li>Downtown Headquarters Near L.A. Live</li>
                <li>Flexible Work Hours</li>
                <li>401(k) with Matching</li>
                <li>Your Own Macbook Air/Pro</li>
                <li>Parking or Transit Benefit</li>
                <li>Relocation Assistance</li>
                <li>Healthcare Coverage Including Dental & Vision</li>
                <li>Commuter Spending Account</li>
                <li>Dependent Care Spending Account</li>
                <li>Adoption Assistance</li>
                <li>Performance Bonus</li>
                <li>Employee Stock Purchase Plan</li>
                <li>Life and AD&D insutance</li>
                <li>Disability Insruance</li>
                <li>Health Savings Account/Health Care Spending Account</li>
                <li>Group Home & Auto Insurance</li>
                <li>Mobile Phone Plan Discounts</li>
                <li>Employee Discounts at Nordstrom</li>
                <li>Wellness Incentive</li>
                <li>Team Sports</li>
                <li>Financial Planning Services</li>
                <li>Legal Services</li>
                <li>Confidential Counseling Services</li>
                <li>Discounted Gym Memberships</li>
                <li>Equal Opportunity Employer</li>
              </ul>

              <h1>More Openings</h1>
              <ul>
                <li>Senior Software Engineer - Scala</li>
                <li>Lorem Ipsum Dolor</li>
                <li>Lorem Ipsum Dolor</li>
                <li>Lorem Ipsum Dolor</li>
                <li>Lorem Ipsum Dolor</li>
              </ul>
            </div>
          </aside>
        </div>

        <footer>
          <div class="row dark article__footer">
            <div class="col-md-5">
              <h1>Senior Software Engineer</h1>
            </div>
            <div class="col-md-2 col-md-offset-5">
              <a class="btn btn-default text-uppercase btn-lg cta" href="#" role="button">Apply Now</a>
            </div>
          </div>
        </footer>
      </article>

      <footer>
        <div class="row footer">
          <div class="col-md-6 footer__img">
            <img class="img-responsive" alt="Nordstromrack | HauteLook" src="/assets/logo_header.png" />
          </div>
          <div class="col-md-3 footer__img">
            <a href="https://github.com/hautelook"/><img alt="github icon" src="/assets/icon_gitHub.png" /><span class="footer__link">github.com/hautelook</span></a>
          </div>
          <div class="col-md-3 footer__img">
            <a class="footer_a" href="https://twitter.com/haloeng"/><img alt="twitter icon" src="/assets/icon_twitter.png" /><span class="footer__link">@haloeng</span></a>
          </div>
        </div>
      </footer>

    </div>
    {% if site.env != 'development' %}
        {% include ga.html %}
    {% endif %}
  </body>
</html>
