---
layout: default
title: Hautelook Tech Blog
---

<h4>Hello.</h4>
<p>
Hello.
    
We are HAUTELOOK.

A group of technologists and engineers working in downtown Los Angeles on the future of retail. We have built our business using open source technologies and give back to the community through the repos you'll find on on <a href="http://github.com/hautelook">github</a>.
</p>

We also sponsor the following Open Source Projects:

<ul>
    <li><a href="https://github.com/reactjs/redux/blob/master/PATRONS.md">Reactjs Redux</a></li>
    <li><a href="https://neovim.io">Neovim</a></li>
</ul>

<p>
If you'd like to come build with us send an email to <a href="mailto:haley.mundy@hautelook.com=Hello" target="_top">Haley: haley.mundy@hautelook.com</a>
</p>

<!-- eventually make this featured articles -->
<h2>Recent Articles</h2>
<ul>
  {% for post in site.posts limit: 5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>  - <small>{{ post.date | date_to_string }}</small>
    </li>
  {% endfor %}
</ul>

<h2>Older Articles</h2>
<ul>
  {% for post in site.posts offset: 5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>  - <small>{{ post.date | date_to_string }}</small>
    </li>
  {% endfor %}
</ul>
